# main
mpi4py>=4.0
numpy>=1.14.3
scipy>=1.6.2
dill>=0.2.9
sympy>=1.0
scikit-learn>=1.1
smcpy>=0.1.4
pybind11[global]
# ONNX
onnx
# TESTS
pytest>=3.6
pytest-mock>=1.10.0
pytest-timeout>=1.4.2
pytest-cov
coverage
coveralls
