name: Docs
on: [push, pull_request]
jobs:
  build-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository and submodules
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Setup Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Install pandoc
        run: |
          sudo apt-get update
          sudo apt-get install pandoc
      - name: Install doc requirements
        run: |
          python -m pip install --upgrade pip
          pip install -r doc_requirements.txt
      - name : Install MPI
        run: |
          sudo apt-get install -y mpich libmpich-dev
      - name : Install Bingo requirements (for tutorials)
        run: |
          pip install -r requirements.txt
      - name: Build docs
        run: |
          sphinx-apidoc -f -o docs/source/_apidocs bingo
          sphinx-build -b html docs/source/ docs/build/html
      - name: Deploy to gh-pages branch
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/develop_docs'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/build/html
